@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
    --bg:#202428 !important;
    --boxShadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e!important;
    --gradientBg: linear-gradient(270deg,#ae216b,#df4454,#f67a36);
    --gradientBgImg: linear-gradient(0deg,#692074,#ae216b,#df4454,#f67a36,#f1b51b);
    --gradientBgBorder: linear-gradient(0deg,#ae216b,#df4454,#f67a36);
    --color:#ff2e59!important;
    --style-font:'Playball', cursive;
    --regular-font:'Poppins', sans-serif;
    --light:rgb(255,255,255) !important;
    --gray:rgb(167, 167, 167) !important;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-color: var(--bg);
    color: var(--light);
    font-family: var(--regular-font);
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.section_gap{
    margin: 80px auto;
}

.section_shadow{
    box-shadow: var(--boxShadow);
}
.btn_regular{
    padding: 10px 20px !important;
    background: var(--gradientBg);
    color: #ffffff !important;
    border-radius: 0 !important;
    transition: all .3s ease-in-out;
    position: relative;
    display: block;
    z-index: 99;
    overflow: hidden;
    box-shadow: var(--boxShadow) !important;
    text-decoration: none !important;
}

.btn_regular::after {
  content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #ae216b, #df4454, #f67a36);
    top: 0;
    right: -100%;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.btn_regular:hover::before {
  top: 96%;
}

.btn_regular:hover::after {
  right: 0;
}


/* Navbar Style */
.nav_bg{
    background-color: var(--bg);
}
.nav_shadow{
    box-shadow: var(--boxShadow);
}
.nav_brand{
    font-family: var(--style-font);
    color: var(--light) ;
    font-size: 2.12rem;
    font-weight: 400;
    line-height: 1.235;
    margin-right: 10px;
}
.navbar-toggler{
    outline: none !important;
    border-style: none !important;
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.nav_toggle_icon{
    color: var(--light);
}
.Nav_color{
    color: var(--color);
}
.nav_text{
    font-size: 20px;
    font-weight: 700;
}
.nav_hover:hover{
    color: var(--color);
    background-color: #1c1e22 !important;
    box-shadow: var(--boxShadow);
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
   
    .nav_brand{
        font-size: 1.12rem;
    }
 }
/* hero_section Style Start */

.hero_content{
    padding: 100px 0;
}
.hero_content .sub_title,
.about_sub{
    color: var(--color);
    font-size: 2.125rem;
    font-weight: 600;
    font-family: var(--regular-font);
}
.hero_content .hero_name,
.about_name{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ff9010;
    background: -webkit-linear-gradient(right,#692074,#ae216b,#df4454,#f67a36);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_img{
    margin-top: 50px;
    padding: 20px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;

}
.img_bg{
    width: 300px;
    height: 300px;
    background: var(--gradientBgImg);
    border-radius: 50%;
    z-index: -1;
}
.img_bg> img{
    border-radius: 49%;
    width: 100%;
    z-index: 1;
    margin-top: 28px;
    margin-bottom: -43px;
}

.hero_social{
    color: #fff;
    background: rgba(24,23,23,.6);
    box-shadow: 10px 10px 19px rgb(10 10 10 / 66%);
    margin: 5px 0;
    padding: 10px;
    z-index: 2;
}
.hero_social>li{
    margin: 10px 0;
}
.hero_social>li>a>i{
    font-size: 30px;
    margin: 10px 0;
    color: var(--light);
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
   
    .hero_img_sm{
        flex-direction: column;
    }
    .hero_social{
        display: flex;
        width: 60%;
        justify-content: space-around;
        margin-top: 30px;

    }
    .hero_content .sub_title,.about_sub {
        font-size: 1.125rem;
    }
    .hero_content .hero_name,.about_name {
        font-size: 2.15rem;
    }
    .hero_content {
        padding: 30px 0;
    }
 }

 /* About Section Style */

 .about_title{
     color: var(--color);
     font-family: var(--style-font);
     text-align: center;
     padding-top: 30px;
 }
 .about_content{
     padding: 30px 0;
 }

 .about_text{
     color: var(--gray);
 }
 .about_btn{
     width: 18%;
 }



 /* Skile Section */
 .skile_section{
    text-align: center;
   
 }
 .skile_content{
    padding-bottom: 30px;

 }
 .skile_img{
    width: 100px;
    height: 100px;
    margin: 0 auto;

   
 }
 .skile_img>img{
     width: 100%;
     overflow: hidden;
 }
 .skile_name{
    color: var(--light);
    font-size: 20px;
 }
 .progress{
     width: 75%;
     margin: 0 auto;
 }
 .progress-bar{
     background-color: var(--color);
 }